h2, .accroche, .menu_link {
  font-family: "Courgette", cursive;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.burger {
  display: none;
  z-index: 4;
  width: 100%;
}

header {
  background-image: url("../images/banner1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  -webkit-box-shadow: inset 2px 14px 2000px 50px rgba(0, 0, 0, 0.22);
  box-shadow: inset 2px 14px 50px 2000px rgba(0, 0, 0, 0.52);
}

.navigation {
  padding: 1.5rem;
  width: 100%;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 4rem;
  z-index: 3;
  transition: background-color 0.2s ease;
  height: fit-content;
}
.navigation nav {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.navigation nav a {
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}
.navigation nav :hover {
  background-color: #c42d40;
}
.navigation .logo {
  width: 40px;
  transform: scale(1.5);
}

.carousel-item {
  z-index: 3;
}

.carousel-txt {
  bottom: 0%;
  left: 49.5%;
  transform: translate(-50%, -50%);
}

.main_title p {
  font-size: 50px;
}

.carousel-indicators button {
  height: 15px !important;
  width: 15px !important;
  margin: 0 10px !important;
  border-radius: 100%;
}
.carousel-indicators :hover {
  transition: all 0.3s ease-in;
  transform: translateY(-10px);
}

.main_buttons a {
  border: 1px solid;
  border-radius: 50px;
}

.menu_page_section, .book_page_section, .contact_page_section {
  background-image: url("../images/main_bg.jpg");
}

.page_box {
  border: 1px solid lightgray;
}

.decoration-bottom {
  background-image: url("../images/bottom_decoration_img.png");
  height: 10px;
  z-index: 3;
}

.decoration-top {
  background-image: url("../images/footer_bottom_decoration_img.png");
  height: 10px;
  z-index: 3;
}

.testi_section {
  background-image: url("../images/testimonials_background.jpg");
}

.testi_txt {
  border: 1px solid grey;
  border-radius: 20px;
}

.testi img {
  border: 3px solid white;
  width: 150px;
  height: 150px;
}

.menu_item {
  border-bottom: 1px dashed lightgray;
}

.menu_img_item {
  height: 90px;
  width: 90px;
  font-size: 11px;
  border: 4px solid lightgray;
}

.menu_link {
  border-bottom: 1px solid lightgray;
  border-right: 4px solid white;
  border-right: 1px solid lightgray;
}

.menu_link:hover i {
  color: #c42d40;
}

.menu_link:focus {
  border-right: 4px solid #c42d40;
}
.menu_link:focus i {
  color: #c42d40;
}

.contact_box {
  width: fit-content;
}

.locali, .phone, .mail {
  border-bottom: 1px solid #a9aba8;
}

.insta_img img {
  width: 50px;
}

.pop_tags p {
  padding: 0.2rem;
  border: 1px solid;
  border-radius: 40px;
}

.book_box {
  background-image: url("../images/book_table_bg.jpg");
  width: fit-content;
  padding: 4rem;
}

.blog_img img {
  height: 250px;
  border: 4px solid lightgray;
}

.blog_img_desc p::first-child {
  border: 1px solid;
  width: fit-content;
}

.img_ext {
  font-size: 25px;
  bottom: 20%;
}

footer {
  background-image: url("../images/footer_background.jpg");
  z-index: -1;
}

.under_footer {
  height: 2.4rem;
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header .burger {
    display: block;
  }

  .carousel-txt p {
    font-size: 35px;
  }

  .carousel-txt {
    position: relative;
  }

  .img_ext {
    font-size: 15px;
    bottom: 32%;
  }

  .logo {
    width: 40px;
    transform: scale(1.2);
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  header {
    height: 50vh;
  }
  header .navigation {
    width: 0;
  }
  header .burger {
    display: block;
  }

  .carousel-txt {
    left: 0;
    transform: none;
  }
  .carousel-txt p {
    font-size: 25px;
  }

  .book_box {
    padding: 0;
  }

  .img_ext {
    font-size: 15px;
    bottom: 32%;
  }

  .under_title_img {
    width: 200px;
  }

  .menu_link {
    border-right: 0;
    border-bottom: 4px solid white;
  }

  .menu_link:focus {
    border-bottom: 4px solid #c42d40;
    border-right: 0;
  }
  .menu_link:focus i {
    color: #c42d40;
  }
}

/*# sourceMappingURL=style.css.map */
